@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navigation clearfix">
@if (SignInManager.IsSignedIn(User))
{
    <li style="font-family: 'DM Sans', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 14px; line-height: 30px; opacity: 1; color: #252638;">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color: #252638;">@User.Identity?.Name</a>
    </li>
    <li style="font-family: 'DM Sans', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 14px; line-height: 30px; opacity: 1; color: #252638;">
        <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" style="font-family: 'DM Sans', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 14px; line-height: 30px; opacity: 1; color: #252638; background:none;">Logout</button>
        </form>
    </li>
}
else
{
    <li style="font-family: 'DM Sans', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 14px; line-height: 30px; opacity: 1; color: #252638;">
        <a asp-area="Identity" asp-page="/Account/Register" style="color: #252638;">Register</a>
    </li>
    <li style="font-family: 'DM Sans', sans-serif; font-weight: 700; text-transform: uppercase; font-size: 14px; line-height: 30px; opacity: 1; color: #252638;">
        <a asp-area="Identity" asp-page="/Account/Login" style="color: #252638;">Login</a>
    </li>
}
</ul>
