<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>@ViewData["Title"] - _421final</title>

<!-- Fav Icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/assets/css/flaticon.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="/assets/css/nice-select.css" rel="stylesheet">
<link href="/assets/css/color.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet">
<!-- jequery plugins -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.js"></script>
<script src="/assets/js/wow.js"></script>
<script src="/assets/js/validation.js"></script>
<script src="/assets/js/jquery.fancybox.js"></script>
<script src="/assets/js/appear.js"></script>
<script src="/assets/js/scrollbar.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/nav-tool.js"></script>
<!-- main-js -->
<script src="/assets/js/script.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" integrity="sha384-yT2pwyD9a3Oee/HtjWTccnRmchDWH2EDHjzH7gwf8yAK0RilKFL164FCHX9fzlxh" crossorigin="anonymous">
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js" integrity="sha384-J1VTqRX3eTNk2nvwiGSqxuZEoboOJHEARFiWWeRcyH+cTelYBIQPq9iNWeCqQV2S" crossorigin="anonymous"></script>

<style>
    input[type=text] {
      border: none;
      border-bottom: 2px solid black;
    }
    input[type=number] {
      border: none;
      border-bottom: 2px solid black;
    }
    input[type=button], input[type=submit], input[type=reset] {
      background-color: black;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
</style>

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">


        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">Preloader Close</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="n" class="letters-loading">
                                N
                            </span>
                            <span data-text-preloader="b" class="letters-loading">
                                B
                            </span>
                            <span data-text-preloader="a" class="letters-loading">
                                A
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- preloader end -->

        <!-- main header -->
        <header class="main-header style-one">
            <!-- header-top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="top-inner clearfix">
                        <div class="left-column pull-left clearfix">
                            <div class="weathre-box"><p style="color: white;">For live updates</p></div>
                            <ul class="links-box clearfix">
                                <li><a href="https://www.nba.com/" style="color: red;">NBA</a></li>
                                <li><a href="https://www.espn.com/nba/" style="color: red;">ESPN</a></li>
                                <li><a href="https://www.cbssports.com/nba/" style="color: red;">CBS</a></li>
                            </ul>
                        </div>
                        <div class="right-column pull-right clearfix">
                            <p style="color: white;">
                                Check out the <a href="https://www.balldontlie.io/#introduction" style="color: red;">BallDon'tLie API</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="outer-box clearfix">
                        <div class="logo-box pull-left">
                            <figure class="logo"><a href="index.html"><img src="/assets/images/Ball-dont-lie.png" alt="" height="55" width="85" style="padding: 0; margin: -10px;"></a></figure>
                        </div>
                        <div class="menu-area clearfix pull-right">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Index" style="color: red;">Home</a></li>
                                        <li><a asp-area="" asp-controller="PlayerRoots" asp-action="Index">Players</a></li> 
                                        <li><a asp-area="" asp-controller="TeamRoots" asp-action="Index">Teams</a></li>
                                        <li><a asp-area="" asp-controller="ComparisonPage" asp-action="Index">Stat Comparisons</a></li> 
                                        
                                    </ul>
                                </div>
                            </nav>
                            <div class="menu-right-content clearfix">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li>Sign In (Temporary)</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="/assets/images/logo-2.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

        <section class="page-title" style="background-image: url(/assets/images/background/playerRootBanner.jpeg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title centred">
                        <h1>Players</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a asp-area="" asp-class="nav-link" asp-controller="Home" asp-action="Index" style="color: red;">BallDon'tLie</a></li>
                        <li>Players</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="site-content" style="margin: 20px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                        @if (IsSectionDefined("scripts"))
                        {
                            RenderSection("scripts");
                        }
                    </div>
                </div>
            </div>
        </section>

         <!-- main-footer -->
        <footer class="main-footer">
            <div class="footer-top pt-50">
                <div class="auto-container">
                    <div class="top-inner">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12 logo-column">
                                <figure class="footer-logo"><a href="index.html"><img src="assets/images/.png" alt=""></a></figure>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 text-column">
                                <div class="text">
                                    <h3>Thank you for visiting BallDon'tLie</h3>
                                    <P>We hope that this site brings you closer to the game!</P>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 form-column">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color: red;">Return to Home Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="bottom-inner clearfix">
                        <div class="copyright pull-left">
                            <p>&copy; BallDon'tLie</p>
                        </div>
                        <ul class="footer-nav clearfix pull-right">
                            To contact us with questions/suggestions, email us at admin@balldontlie.com
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->



        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="fas fa-angle-up"></span>
        </button>
    </div>


    

</body><!-- End of .page_wrapper -->
</html>
