@{
    ViewData["Title"] = "Home Page";
}



<!-- Fav Icon -->
<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="assets/css/font-awesome-all.css" rel="stylesheet">
<link href="assets/css/flaticon.css" rel="stylesheet">
<link href="assets/css/owl.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="assets/css/animate.css" rel="stylesheet">
<link href="assets/css/nice-select.css" rel="stylesheet">
<link href="assets/css/color.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">



<!-- page wrapper -->
<body>

    <div class="boxed_wrapper " >


        <!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">Preloader Close</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span  class="letters-loading">
                               N
                            </span>
                            <span  class="letters-loading">
                                B
                            </span>
                            <span  class="letters-loading">
                                A
                            </span>
                            
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- preloader end -->
    </div>

       

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="assets/images/logo-2.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->


        <!-- banner-section -->
        <section class="banner-section style-two" >
         
            <div class="banner-carousel owl-theme owl-carousel owl-dots-none container-fluid">
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/img1_ccexpress.jpeg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h6><i class="flaticon-star"></i>NBA</h6>
                            <h1>Free NBA Statistics</h1>
                            <p>Keeping You Updated on Your Favorite Players and Teams</p>
                            
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/img2_ccexpress.jpeg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h6><i class="flaticon-star"></i>NBA</h6>
                            <h1>Get Player Stats From Any Era</h1>
                            <p>Discover Athletes From Yesterday and Today</p>
                            
                        </div> 
                    </div>
                </div>
              
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/img4_ccexpress.jpeg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h6><i class="flaticon-star"></i>NBA</h6>
                            <h1>Compare Stats to Anyone</h1>
                            <p>See How Your Favorite Player Stacks Up Against Other NBA Players</p>
                            
                        </div> 
                    </div>
                    
                </div>
               
            </div>
        </section>
        <!-- banner-section end -->
    


      

    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/nav-tool.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>

