@{
    ViewData["Title"] = "Home Page";
}



<!-- Fav Icon -->
<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="assets/css/font-awesome-all.css" rel="stylesheet">
<link href="assets/css/flaticon.css" rel="stylesheet">
<link href="assets/css/owl.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="assets/css/animate.css" rel="stylesheet">
<link href="assets/css/nice-select.css" rel="stylesheet">
<link href="assets/css/color.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/responsive.css" rel="stylesheet">



<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">
        


        <!-- banner-section -->
        <section class="banner-section style-two">
            <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/bucksChamps.jpeg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h6><i class="flaticon-star"></i>BallDon'tLie</h6>
                            <h1>Everything NBA.</h1>
                            <p>Keeping you close to the game.</p>
                            <div class="btn-box">
                                <a asp-area="" asp-controller="TeamRoots" asp-action="Index" class="theme-btn">Teams</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/the-shot.jpeg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h6><i class="flaticon-star"></i>BallDon'tLie</h6>
                            <h1>Any Player From Any Era</h1>
                            <p>Discover athletes from yesterday and today.</p>
                            <div class="btn-box">
                                <a asp-area="" asp-controller="PlayerRoots" asp-action="Index" class="theme-btn">Players</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/lillardBanner.jpeg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h6><i class="flaticon-star"></i>BallDon'tLie</h6>
                            <h1>Compare Player Stats.</h1>
                            <p>See how your favorite players stack up against each other.</p>
                            <div class="btn-box">
                                <a asp-area="" asp-controller="ComparisonPage" asp-action="Index" class="theme-btn">Compare Stats</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->
    </div>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/nav-tool.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>

</body><!-- End of .page_wrapper -->


