html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-container {
    display: flex;
    justify-content: center;
   
}

#actual-search-bar{
    background-color: snow;
    min-width:183px;
    width: 900px;
    border-radius: 10px;
    border: 2px solid black; 
    min-height: 30px;
    height: 40px;
}


#p-superScript {
    padding: 0px 0px 0px 40px;
    font-family: 'DejaVu Sans Mono', monospace;
}

.results-section {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 26px;
    
}

#header {
    font-weight: bold;
    padding: 0px 300px 0px 0px;
}

.fixed-container {
    display: flex;
    flex-direction: row;
    font-family: 'DejaVu Sans Mono', monospace;
    justify-content: center;
    padding: 0px 0px 0px 250px;

}

.year-title {
    padding: 0px 0px 0px 0px;
}
.year-1 {
    width: 406px;
    padding: 0px 0px 0px 5px;
    font-family: 'DejaVu Sans Mono', monospace;
}

.name-div {
    display: flex;
    flex-direction: row;
    font-family: 'DejaVu Sans Mono', monospace;
    
}




.first-name {
    padding: 0px 0px 0px 5px;
    width: 353px;
}
.last-name {
    padding: 0px 0px 0px 5px;
    width: 362px;
}

.team-name {
    padding: 0px 0px 0px 5px;
    width: 406px;
}

.position {
    padding: 0px 0px 0px 5px;
    width: 370px;
}

.feet {
    padding: 0px 0px 0px 5px;
    width: 326px;
}

.inches {
    padding: 0px 0px 0px 5px;
    width: 309px;
}

.weight {
    padding: 0px 0px 0px 5px;
    width: 388px;
}



.table-container {
    display: flex;
    flex-direction: row;
    font-family: 'DejaVu Sans Mono', monospace;
    justify-content: center;
    padding: 0px 120px 0px 0px;
}
.stats-table {
    display: flex;
    flex-direction: row;
    font-family: 'DejaVu Sans Mono', monospace;
    justify-content: center;
    text-align: center;
    padding: 0px 10px 0px 100px;
}





.box {
    width: 50px;
    border: .5px inset black;
    
}

#tr {
    background-color: #252638;
    color: whitesmoke;
}

.big-box {
    width: 600px;
    border: .5px inset black;
}



