@model _421final.Models.MyTeam

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MyTeam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TeamStyleId" class="control-label"></label>
                <select asp-for="TeamStyleId" class="form-control" asp-items="ViewBag.TeamStyleId"></select>
                <span asp-validation-for="TeamStyleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teamName" class="control-label"></label>
                <input asp-for="teamName" class="form-control" />
                <span asp-validation-for="teamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PG" class="control-label"></label>
                <input asp-for="PG" class="form-control" />
                <span asp-validation-for="PG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SG" class="control-label"></label>
                <input asp-for="SG" class="form-control" />
                <span asp-validation-for="SG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SF" class="control-label"></label>
                <input asp-for="SF" class="form-control" />
                <span asp-validation-for="SF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PF" class="control-label"></label>
                <input asp-for="PF" class="form-control" />
                <span asp-validation-for="PF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C" class="control-label"></label>
                <input asp-for="C" class="form-control" />
                <span asp-validation-for="C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
